.col-centered{
    float: none;
    margin: 0 auto;
}


/* start footer */
footer
    {
        background: #fff;
        font-weight: 400;
        text-align: center;
        padding: 20px;
    }
/* end footer */

#brandAneejian img {
    max-width: 7em;
    margin-left: .5em;
}