@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Merriweather+Sans:400,400i&subset=latin-ext');

body {
    font-family: 'Merriweather Sans', sans-serif;
}

.logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
    color: #6aa84f;
}

/* start brand */

#brandAneejian img {
    max-width: 7em;
    margin-left: .5em;
}

/* end brand */

/* start center in container */

.col-centered {
    float: none;
    margin: 0 auto;
}

/* end center in container */

/* start footer */

footer {
    background: #fff;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

/* end footer */